.profileCircle {
  display: flex;
  align-items: center;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  background-color: #c4c4c4;
  flex-direction: column;

  img {
    max-width: 100%;
    border-radius: 50%;
  }
  img:hover {
    opacity: 50%;
    transition: 0.2s ease-in-out;
  }
}
